<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="#" th:action="@{/ejemploTres/addPersona}" th:object="${persona}" method="post">
		<p>Nombre:<input type="text" th:field="*{nombre}" ></p>
		<p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Name has errors</p>
		<p>Edad: <input type="number" th:field="*{edad}" ></p>
		<p th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}">Age has errors</p>
		<p><input type="submit" value="Enviar" /> </p>
	</form>
</body>
</html>